click
dlib==19.17.0
face-recognition
face-recognition-models
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
mglearn
numpy
opencv-contrib-python
pandas
Pillow
pip
py
pyTelegramBotAPI==3.7.2
pytest 
scikit-image
scikit-learn
six
urllib3
wheel
bumpversion==0.5.3
watchdog==0.8.3
flake8
tox==2.3.1
coverage==4.1
Sphinx==1.4.8
cryptography==1.7
pyyaml>=4.2b1
requests